<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the barrios_init() hook (in hooks/barrios.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="barrios-nombre-<%%VALUE(nombre)%%>" class="barrios-nombre"><%%VALUE(nombre)%%></td>
		<td id="barrios-comuna-<%%VALUE(nombre)%%>" class="barrios-comuna"><%%VALUE(comuna)%%></td>
