<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the covid_init() hook (in hooks/covid.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="covid-id-<%%VALUE(id)%%>" class="covid-id text-right"><%%VALUE(id)%%></td>
		<td id="covid-fecha-<%%VALUE(id)%%>" class="covid-fecha"><%%VALUE(fecha)%%></td>
		<td id="covid-tipodoc-<%%VALUE(id)%%>" class="covid-tipodoc"><%%VALUE(tipodoc)%%></td>
		<td id="covid-doc-<%%VALUE(id)%%>" class="covid-doc"><%%VALUE(doc)%%></td>
		<td id="covid-nombre-<%%VALUE(id)%%>" class="covid-nombre"><%%VALUE(nombre)%%></td>
		<td id="covid-genero-<%%VALUE(id)%%>" class="covid-genero"><%%VALUE(genero)%%></td>
		<td id="covid-nacimiento-<%%VALUE(id)%%>" class="covid-nacimiento"><%%VALUE(nacimiento)%%></td>
		<td id="covid-telefono-<%%VALUE(id)%%>" class="covid-telefono"><%%VALUE(telefono)%%></td>
		<td id="covid-eps-<%%VALUE(id)%%>" class="covid-eps"><%%VALUE(eps)%%></td>
		<td id="covid-fallecido-<%%VALUE(id)%%>" class="covid-fallecido"><%%VALUE(fallecido)%%></td>
		<td id="covid-atencion-<%%VALUE(id)%%>" class="covid-atencion"><%%VALUE(atencion)%%></td>
		<td id="covid-medicamentos-<%%VALUE(id)%%>" class="covid-medicamentos"><%%VALUE(medicamentos)%%></td>
		<td id="covid-medicinageneral-<%%VALUE(id)%%>" class="covid-medicinageneral"><%%VALUE(medicinageneral)%%></td>
		<td id="covid-oportunidad-<%%VALUE(id)%%>" class="covid-oportunidad"><%%VALUE(oportunidad)%%></td>
		<td id="covid-status-<%%VALUE(id)%%>" class="covid-status"><%%VALUE(status)%%></td>
		<td id="covid-asignado-<%%VALUE(id)%%>" class="covid-asignado"><%%VALUE(asignado)%%></td>
