<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Encuesta_init() hook (in hooks/Encuesta.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Encuesta-fecha-<%%VALUE(id)%%>" class="Encuesta-fecha"><%%VALUE(fecha)%%></td>
		<td id="Encuesta-tipoid-<%%VALUE(id)%%>" class="Encuesta-tipoid"><%%VALUE(tipoid)%%></td>
		<td id="Encuesta-doc-<%%VALUE(id)%%>" class="Encuesta-doc"><%%VALUE(doc)%%></td>
		<td id="Encuesta-nombres-<%%VALUE(id)%%>" class="Encuesta-nombres"><%%VALUE(nombres)%%></td>
		<td id="Encuesta-apellidos-<%%VALUE(id)%%>" class="Encuesta-apellidos"><%%VALUE(apellidos)%%></td>
		<td id="Encuesta-eps-<%%VALUE(id)%%>" class="Encuesta-eps"><%%VALUE(eps)%%></td>
		<td id="Encuesta-ipsprim-<%%VALUE(id)%%>" class="Encuesta-ipsprim"><%%VALUE(ipsprim)%%></td>
		<td id="Encuesta-tratoser-<%%VALUE(id)%%>" class="Encuesta-tratoser"><%%VALUE(tratoser)%%></td>
		<td id="Encuesta-cita-<%%VALUE(id)%%>" class="Encuesta-cita"><%%VALUE(cita)%%></td>
		<td id="Encuesta-tratoasis-<%%VALUE(id)%%>" class="Encuesta-tratoasis"><%%VALUE(tratoasis)%%></td>
		<td id="Encuesta-expprof-<%%VALUE(id)%%>" class="Encuesta-expprof"><%%VALUE(expprof)%%></td>
		<td id="Encuesta-bioser-<%%VALUE(id)%%>" class="Encuesta-bioser"><%%VALUE(bioser)%%></td>
		<td id="Encuesta-area-<%%VALUE(id)%%>" class="Encuesta-area"><%%VALUE(area)%%></td>
		<td id="Encuesta-pyp-<%%VALUE(id)%%>" class="Encuesta-pyp"><%%VALUE(pyp)%%></td>
		<td id="Encuesta-prenatal-<%%VALUE(id)%%>" class="Encuesta-prenatal"><%%VALUE(prenatal)%%></td>
		<td id="Encuesta-cyd-<%%VALUE(id)%%>" class="Encuesta-cyd"><%%VALUE(cyd)%%></td>
		<td id="Encuesta-vacunas-<%%VALUE(id)%%>" class="Encuesta-vacunas"><%%VALUE(vacunas)%%></td>
		<td id="Encuesta-pfm-<%%VALUE(id)%%>" class="Encuesta-pfm"><%%VALUE(pfm)%%></td>
		<td id="Encuesta-citologia-<%%VALUE(id)%%>" class="Encuesta-citologia"><%%VALUE(citologia)%%></td>
		<td id="Encuesta-sservicio-<%%VALUE(id)%%>" class="Encuesta-sservicio"><%%VALUE(sservicio)%%></td>
		<td id="Encuesta-incomodo-<%%VALUE(id)%%>" class="Encuesta-incomodo"><%%VALUE(incomodo)%%></td>
		<td id="Encuesta-otro-<%%VALUE(id)%%>" class="Encuesta-otro"><%%VALUE(otro)%%></td>
		<td id="Encuesta-why-<%%VALUE(id)%%>" class="Encuesta-why"><%%VALUE(why)%%></td>
		<td id="Encuesta-urgencia-<%%VALUE(id)%%>" class="Encuesta-urgencia"><%%VALUE(urgencia)%%></td>
		<td id="Encuesta-citaoportuna-<%%VALUE(id)%%>" class="Encuesta-citaoportuna"><%%VALUE(citaoportuna)%%></td>
		<td id="Encuesta-aspectoeps-<%%VALUE(id)%%>" class="Encuesta-aspectoeps"><%%VALUE(aspectoeps)%%></td>
		<td id="Encuesta-fisicas-<%%VALUE(id)%%>" class="Encuesta-fisicas"><%%VALUE(fisicas)%%></td>
		<td id="Encuesta-aseo-<%%VALUE(id)%%>" class="Encuesta-aseo"><%%VALUE(aseo)%%></td>
		<td id="Encuesta-capacitacion-<%%VALUE(id)%%>" class="Encuesta-capacitacion"><%%VALUE(capacitacion)%%></td>
		<td id="Encuesta-autorizaciones-<%%VALUE(id)%%>" class="Encuesta-autorizaciones"><%%VALUE(autorizaciones)%%></td>
		<td id="Encuesta-general-<%%VALUE(id)%%>" class="Encuesta-general"><%%VALUE(general)%%></td>
		<td id="Encuesta-horario-<%%VALUE(id)%%>" class="Encuesta-horario"><%%VALUE(horario)%%></td>
		<td id="Encuesta-formulario-<%%VALUE(id)%%>" class="Encuesta-formulario"><%%VALUE(formulario)%%></td>
		<td id="Encuesta-farmacia-<%%VALUE(id)%%>" class="Encuesta-farmacia"><%%VALUE(farmacia)%%></td>
		<td id="Encuesta-fisicasfarma-<%%VALUE(id)%%>" class="Encuesta-fisicasfarma"><%%VALUE(fisicasfarma)%%></td>
		<td id="Encuesta-oporfarmacia-<%%VALUE(id)%%>" class="Encuesta-oporfarmacia"><%%VALUE(oporfarmacia)%%></td>
		<td id="Encuesta-totalidad-<%%VALUE(id)%%>" class="Encuesta-totalidad"><%%VALUE(totalidad)%%></td>
		<td id="Encuesta-cambio-<%%VALUE(id)%%>" class="Encuesta-cambio"><%%VALUE(cambio)%%></td>
		<td id="Encuesta-volver-<%%VALUE(id)%%>" class="Encuesta-volver"><%%VALUE(volver)%%></td>
		<td id="Encuesta-orientacion-<%%VALUE(id)%%>" class="Encuesta-orientacion"><%%VALUE(orientacion)%%></td>
		<td id="Encuesta-embalaje-<%%VALUE(id)%%>" class="Encuesta-embalaje"><%%VALUE(embalaje)%%></td>
		<td id="Encuesta-revision-<%%VALUE(id)%%>" class="Encuesta-revision"><%%VALUE(revision)%%></td>
		<td id="Encuesta-observaciones-<%%VALUE(id)%%>" class="Encuesta-observaciones"><%%VALUE(observaciones)%%></td>
