<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Encuesta_init() hook (in hooks/Encuesta.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Encuesta-fecha-<%%VALUE(id)%%>" class="Encuesta-fecha"><%%SELECT%%><%%VALUE(fecha)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-tipoid-<%%VALUE(id)%%>" class="Encuesta-tipoid"><%%SELECT%%><%%VALUE(tipoid)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-doc-<%%VALUE(id)%%>" class="Encuesta-doc"><%%SELECT%%><%%VALUE(doc)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-nombres-<%%VALUE(id)%%>" class="Encuesta-nombres"><%%SELECT%%><%%VALUE(nombres)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-apellidos-<%%VALUE(id)%%>" class="Encuesta-apellidos"><%%SELECT%%><%%VALUE(apellidos)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-eps-<%%VALUE(id)%%>" class="Encuesta-eps"><%%SELECT%%><%%VALUE(eps)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-ipsprim-<%%VALUE(id)%%>" class="Encuesta-ipsprim"><%%SELECT%%><%%VALUE(ipsprim)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-tratoser-<%%VALUE(id)%%>" class="Encuesta-tratoser"><%%SELECT%%><%%VALUE(tratoser)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-cita-<%%VALUE(id)%%>" class="Encuesta-cita"><%%SELECT%%><%%VALUE(cita)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-tratoasis-<%%VALUE(id)%%>" class="Encuesta-tratoasis"><%%SELECT%%><%%VALUE(tratoasis)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-expprof-<%%VALUE(id)%%>" class="Encuesta-expprof"><%%SELECT%%><%%VALUE(expprof)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-bioser-<%%VALUE(id)%%>" class="Encuesta-bioser"><%%SELECT%%><%%VALUE(bioser)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-area-<%%VALUE(id)%%>" class="Encuesta-area"><%%SELECT%%><%%VALUE(area)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-pyp-<%%VALUE(id)%%>" class="Encuesta-pyp"><%%SELECT%%><%%VALUE(pyp)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-prenatal-<%%VALUE(id)%%>" class="Encuesta-prenatal"><%%SELECT%%><%%VALUE(prenatal)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-cyd-<%%VALUE(id)%%>" class="Encuesta-cyd"><%%SELECT%%><%%VALUE(cyd)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-vacunas-<%%VALUE(id)%%>" class="Encuesta-vacunas"><%%SELECT%%><%%VALUE(vacunas)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-pfm-<%%VALUE(id)%%>" class="Encuesta-pfm"><%%SELECT%%><%%VALUE(pfm)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-citologia-<%%VALUE(id)%%>" class="Encuesta-citologia"><%%SELECT%%><%%VALUE(citologia)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-sservicio-<%%VALUE(id)%%>" class="Encuesta-sservicio"><%%SELECT%%><%%VALUE(sservicio)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-incomodo-<%%VALUE(id)%%>" class="Encuesta-incomodo"><%%SELECT%%><%%VALUE(incomodo)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-otro-<%%VALUE(id)%%>" class="Encuesta-otro"><%%SELECT%%><%%VALUE(otro)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-why-<%%VALUE(id)%%>" class="Encuesta-why"><%%SELECT%%><%%VALUE(why)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-urgencia-<%%VALUE(id)%%>" class="Encuesta-urgencia"><%%SELECT%%><%%VALUE(urgencia)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-citaoportuna-<%%VALUE(id)%%>" class="Encuesta-citaoportuna"><%%SELECT%%><%%VALUE(citaoportuna)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-aspectoeps-<%%VALUE(id)%%>" class="Encuesta-aspectoeps"><%%SELECT%%><%%VALUE(aspectoeps)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-fisicas-<%%VALUE(id)%%>" class="Encuesta-fisicas"><%%SELECT%%><%%VALUE(fisicas)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-aseo-<%%VALUE(id)%%>" class="Encuesta-aseo"><%%SELECT%%><%%VALUE(aseo)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-capacitacion-<%%VALUE(id)%%>" class="Encuesta-capacitacion"><%%SELECT%%><%%VALUE(capacitacion)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-autorizaciones-<%%VALUE(id)%%>" class="Encuesta-autorizaciones"><%%SELECT%%><%%VALUE(autorizaciones)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-general-<%%VALUE(id)%%>" class="Encuesta-general"><%%SELECT%%><%%VALUE(general)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-horario-<%%VALUE(id)%%>" class="Encuesta-horario"><%%SELECT%%><%%VALUE(horario)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-formulario-<%%VALUE(id)%%>" class="Encuesta-formulario"><%%SELECT%%><%%VALUE(formulario)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-farmacia-<%%VALUE(id)%%>" class="Encuesta-farmacia"><%%SELECT%%><%%VALUE(farmacia)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-fisicasfarma-<%%VALUE(id)%%>" class="Encuesta-fisicasfarma"><%%SELECT%%><%%VALUE(fisicasfarma)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-oporfarmacia-<%%VALUE(id)%%>" class="Encuesta-oporfarmacia"><%%SELECT%%><%%VALUE(oporfarmacia)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-totalidad-<%%VALUE(id)%%>" class="Encuesta-totalidad"><%%SELECT%%><%%VALUE(totalidad)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-cambio-<%%VALUE(id)%%>" class="Encuesta-cambio"><%%SELECT%%><%%VALUE(cambio)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-volver-<%%VALUE(id)%%>" class="Encuesta-volver"><%%SELECT%%><%%VALUE(volver)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-orientacion-<%%VALUE(id)%%>" class="Encuesta-orientacion"><%%SELECT%%><%%VALUE(orientacion)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-embalaje-<%%VALUE(id)%%>" class="Encuesta-embalaje"><%%SELECT%%><%%VALUE(embalaje)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-revision-<%%VALUE(id)%%>" class="Encuesta-revision"><%%SELECT%%><%%VALUE(revision)%%><%%ENDSELECT%%></td>
		<td id="Encuesta-observaciones-<%%VALUE(id)%%>" class="Encuesta-observaciones"><%%SELECT%%><%%VALUE(observaciones)%%><%%ENDSELECT%%></td>
