<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the eps_init() hook (in hooks/eps.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="eps-razonsocial-<%%VALUE(razonsocial)%%>" class="eps-razonsocial"><%%VALUE(razonsocial)%%></td>
		<td id="eps-regimen-<%%VALUE(razonsocial)%%>" class="eps-regimen"><%%VALUE(regimen)%%></td>
		<td id="eps-gerente-<%%VALUE(razonsocial)%%>" class="eps-gerente"><%%VALUE(gerente)%%></td>
		<td id="eps-telefono-<%%VALUE(razonsocial)%%>" class="eps-telefono"><%%VALUE(telefono)%%></td>
		<td id="eps-correo-<%%VALUE(razonsocial)%%>" class="eps-correo"><%%VALUE(correo)%%></td>
		<td id="eps-correo2-<%%VALUE(razonsocial)%%>" class="eps-correo2"><%%VALUE(correo2)%%></td>
		<td id="eps-correo3-<%%VALUE(razonsocial)%%>" class="eps-correo3"><%%VALUE(correo3)%%></td>
