<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the oportunidad_init() hook (in hooks/oportunidad.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="oportunidad-tipodoc-<%%VALUE(id)%%>" class="oportunidad-tipodoc"><%%VALUE(tipodoc)%%></td>
		<td id="oportunidad-doc-<%%VALUE(id)%%>" class="oportunidad-doc"><%%VALUE(doc)%%></td>
		<td id="oportunidad-nombres-<%%VALUE(id)%%>" class="oportunidad-nombres"><%%VALUE(nombres)%%></td>
		<td id="oportunidad-apellidos-<%%VALUE(id)%%>" class="oportunidad-apellidos"><%%VALUE(apellidos)%%></td>
		<td id="oportunidad-regimen-<%%VALUE(id)%%>" class="oportunidad-regimen"><%%VALUE(regimen)%%></td>
		<td id="oportunidad-eps-<%%VALUE(id)%%>" class="oportunidad-eps"><%%VALUE(eps)%%></td>
		<td id="oportunidad-fechanac-<%%VALUE(id)%%>" class="oportunidad-fechanac"><%%VALUE(fechanac)%%></td>
		<td id="oportunidad-edad-<%%VALUE(id)%%>" class="oportunidad-edad"><%%VALUE(edad)%%></td>
		<td id="oportunidad-atencionreq-<%%VALUE(id)%%>" class="oportunidad-atencionreq"><%%VALUE(atencionreq)%%></td>
		<td id="oportunidad-fechaorden-<%%VALUE(id)%%>" class="oportunidad-fechaorden"><%%VALUE(fechaorden)%%></td>
		<td id="oportunidad-fechacita-<%%VALUE(id)%%>" class="oportunidad-fechacita"><%%VALUE(fechacita)%%></td>
		<td id="oportunidad-calificacion-<%%VALUE(id)%%>" class="oportunidad-calificacion"><%%VALUE(calificacion)%%></td>
		<td id="oportunidad-observaciones-<%%VALUE(id)%%>" class="oportunidad-observaciones"><%%VALUE(observaciones)%%></td>
		<td id="oportunidad-asignado-<%%VALUE(id)%%>" class="oportunidad-asignado"><%%VALUE(asignado)%%></td>
