<!-- To change the layout of the detail view form, we recommend using JS code in hooks/otros-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="otros_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="otros_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="otros_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Fecha -->
				<div class="form-group otros-fecha">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Fecha <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fecha-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="fecha-description"><div class="alert alert-info bspacer-xs">Valor asignado autom&#225;ticamente por el s&#237;stema</div></span>
						<div class="form-control-static" id="fecha"><%%VALUE(fecha)%%></div>
					</div>
				</div>

				<!-- Field: Asunto -->
				<div class="form-group otros-asunto">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="asunto">Asunto<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(asunto)%%>
					</div>
				</div>

				<!-- Field: Sexo -->
				<div class="form-group otros-sexo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="sexo">Sexo<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(sexo)%%>
					</div>
				</div>

				<!-- Field: Tipo de Documento -->
				<div class="form-group otros-tipodoc">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tipodoc">Tipo de Documento<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(tipodoc)%%>
					</div>
				</div>

				<!-- Field: Pa&#237;s de Procedencia -->
				<div class="form-group otros-procedencia">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="procedencia">Pa&#237;s de Procedencia</label>
					<div class="col-lg-9">
						<%%COMBO(procedencia)%%>
					</div>
				</div>

				<!-- Field: No. de Documento -->
				<div class="form-group otros-documento">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="documento">No. de Documento<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="documento" id="documento" value="<%%VALUE(documento)%%>" required>
					</div>
				</div>

				<!-- Field: Nombre(s) -->
				<div class="form-group otros-nombres">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nombres">Nombre(s)<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="nombres" id="nombres" value="<%%VALUE(nombres)%%>" required>
					</div>
				</div>

				<!-- Field: Apellido(s) -->
				<div class="form-group otros-apellidos">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="apellidos">Apellido(s)<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="apellidos" id="apellidos" value="<%%VALUE(apellidos)%%>" required>
					</div>
				</div>

				<!-- Field: Fecha de Nacimiento -->
				<div class="form-group otros-nacimiento">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nacimiento-dd">Fecha de Nacimiento<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(nacimiento)%%>
					</div>
				</div>

				<!-- Field: Edad -->
				<div class="form-group otros-edad">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="edad">Edad</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="edad" id="edad" value="<%%VALUE(edad)%%>">
					</div>
				</div>

				<!-- Field: Direccion -->
				<div class="form-group otros-direccion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="direccion">Direccion<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="direccion" id="direccion" value="<%%VALUE(direccion)%%>" required>
					</div>
				</div>

				<!-- Field: Barrio -->
				<div class="form-group otros-barrio">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="barrio" data-parent_link="view_parent_modal">Barrio<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(barrio)%%><%%PLINK(barrio)%%><%%ADDNEW(barrios)%%></div>
					</div>
				</div>

				<!-- Field: Comuna -->
				<div class="form-group otros-comuna">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Comuna <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#comuna-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="comuna-description"><div class="alert alert-info bspacer-xs">Valor asignado autom&#225;ticamente por el s&#237;stema</div></span>
						<div class="form-control-static" id="comuna"><%%VALUE(comuna)%%></div>
					</div>
				</div>

				<!-- Field: Telefono -->
				<div class="form-group otros-telefono">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="telefono">Telefono<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="telefono" id="telefono" value="<%%VALUE(telefono)%%>" required>
					</div>
				</div>

				<!-- Field: Regimen -->
				<div class="form-group otros-regimen">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="regimen" data-parent_link="view_parent_modal">Regimen<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(regimen)%%><%%PLINK(regimen)%%><%%ADDNEW(regimenes)%%></div>
					</div>
				</div>

				<!-- Field: EAPB -->
				<div class="form-group otros-eapb">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="eapb" data-parent_link="view_parent_modal">EAPB<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(eapb)%%><%%PLINK(eapb)%%><%%ADDNEW(eps)%%><span id="eapbLoading"></span></div>
					</div>
				</div>

				<!-- Field: Otra EPS -->
				<div class="form-group otros-otraeps">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="otraeps">Otra EPS</label>
					<div class="col-lg-9">
						<%%COMBO(otraeps)%%>
					</div>
				</div>

				<!-- Field: Gerente -->
				<div class="form-group otros-gerente">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Gerente <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#gerente-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="gerente-description"><div class="alert alert-info bspacer-xs">Valor asignado autom&#225;ticamente por el s&#237;stema</div></span>
						<div class="form-control-static" id="gerente"></div>
					</div>
				</div>

				<!-- Field: Tipo de Poblaci&#243;n -->
				<div class="form-group otros-poblacion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="poblacion">Tipo de Poblaci&#243;n<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(poblacion)%%>
					</div>
				</div>

				<!-- Field: Tr&#225;mite solicitado por un acudiente? -->
				<div class="form-group otros-acudiente">
					<hr class="hidden-md hidden-lg">
					<div class="col-lg-offset-3 col-lg-9">
						<div class="checkbox">
							<label for="acudiente"><input type="checkbox" name="acudiente" id="acudiente" value="1" <%%CHECKED(acudiente)%%>> Tr&#225;mite solicitado por un acudiente?</label>
						</div>
					</div>
				</div>

				<!-- Field: No. de Documento del Acudiente -->
				<div class="form-group otros-docacu">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="docacu">No. de Documento del Acudiente</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="docacu" id="docacu" value="<%%VALUE(docacu)%%>">
					</div>
				</div>

				<!-- Field: Nombre del Acudiente -->
				<div class="form-group otros-nombreacu">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="nombreacu">Nombre del Acudiente</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="nombreacu" id="nombreacu" value="<%%VALUE(nombreacu)%%>">
					</div>
				</div>

				<!-- Field: Descripcion -->
				<div class="form-group otros-descripcion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="descripcion">Descripcion</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="descripcion" id="descripcion" rows=" 2"><%%VALUE(descripcion)%%></textarea>
					</div>
				</div>

				<!-- Field: Fecha de entrega del Documento -->
				<div class="form-group otros-fechaentrega">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fechaentrega-dd">Fecha de entrega del Documento</label>
					<div class="col-lg-9">
						<%%COMBO(fechaentrega)%%>
					</div>
				</div>

				<!-- Field: Soporte1 -->
				<div class="form-group otros-soporte1">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Soporte1 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#soporte1-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="soporte1-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 2500 KB.<br>Allowed file types: jpg, jpeg, gif, png, pdf, doc, docx, txt, mp4, mp3</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="soporte1-link" href="link.php?t=otros&f=soporte1&i=<%%VALUE(id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-picture" title="<%%VALUE(soporte1)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(soporte1)%%>
								<%%REMOVEFILE(soporte1)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_soporte1 = '<%%VALUE(soporte1)%%>'; if(e_soporte1 == '' || e_soporte1 == '&nbsp;' || e_soporte1 == 'blank.gif') jQuery('#soporte1-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Soporte2 -->
				<div class="form-group otros-soporte2">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Soporte2 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#soporte2-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="soporte2-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 2500 KB.<br>Allowed file types: jpg, jpeg, gif, png, pdf, doc, docx, txt, mp4, mp3</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="soporte2-link" href="link.php?t=otros&f=soporte2&i=<%%VALUE(id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-picture" title="<%%VALUE(soporte2)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(soporte2)%%>
								<%%REMOVEFILE(soporte2)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_soporte2 = '<%%VALUE(soporte2)%%>'; if(e_soporte2 == '' || e_soporte2 == '&nbsp;' || e_soporte2 == 'blank.gif') jQuery('#soporte2-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Soporte3 -->
				<div class="form-group otros-soporte3">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Soporte3 <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#soporte3-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="soporte3-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 2500 KB.<br>Allowed file types: jpg, jpeg, gif, png, pdf, doc, docx, txt, mp4, mp3</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="soporte3-link" href="link.php?t=otros&f=soporte3&i=<%%VALUE(id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-picture" title="<%%VALUE(soporte3)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(soporte3)%%>
								<%%REMOVEFILE(soporte3)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_soporte3 = '<%%VALUE(soporte3)%%>'; if(e_soporte3 == '' || e_soporte3 == '&nbsp;' || e_soporte3 == 'blank.gif') jQuery('#soporte3-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Nombre del Funcionario SSM -->
				<div class="form-group otros-asignado">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Nombre del Funcionario SSM <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#asignado-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="asignado-description"><div class="alert alert-info bspacer-xs">Valor asignado autom&#225;ticamente por el s&#237;stema</div></span>
						<div class="form-control-static" id="asignado"><%%VALUE(asignado)%%></div>
					</div>
				</div>

				<!-- Field: Cargo del Funcionario SSM -->
				<div class="form-group otros-cargo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Cargo del Funcionario SSM <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#cargo-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="cargo-description"><div class="alert alert-info bspacer-xs">Valor asignado autom&#225;ticamente por el s&#237;stema</div></span>
						<div class="form-control-static" id="cargo"><%%VALUE(cargo)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="otros_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.otros-asunto')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0;
					},
					action: function() {
						$j('#otros_dv_container-loading').addClass('hidden');
						$j('#otros_dv_container').removeClass('hidden');
						AppGini.focusFormElement('otros', 'asunto');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#otros_dv_container-loading').addClass('hidden');
				$j('#otros_dv_container').removeClass('hidden');
			}

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'otros',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=otros&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=otros&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>