<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the otros_init() hook (in hooks/otros.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="otros-fecha-<%%VALUE(id)%%>" class="otros-fecha"><%%VALUE(fecha)%%></td>
		<td id="otros-asunto-<%%VALUE(id)%%>" class="otros-asunto"><%%VALUE(asunto)%%></td>
		<td id="otros-sexo-<%%VALUE(id)%%>" class="otros-sexo"><%%VALUE(sexo)%%></td>
		<td id="otros-tipodoc-<%%VALUE(id)%%>" class="otros-tipodoc"><%%VALUE(tipodoc)%%></td>
		<td id="otros-documento-<%%VALUE(id)%%>" class="otros-documento"><%%VALUE(documento)%%></td>
		<td id="otros-nombres-<%%VALUE(id)%%>" class="otros-nombres"><%%VALUE(nombres)%%></td>
		<td id="otros-apellidos-<%%VALUE(id)%%>" class="otros-apellidos"><%%VALUE(apellidos)%%></td>
		<td id="otros-nacimiento-<%%VALUE(id)%%>" class="otros-nacimiento"><%%VALUE(nacimiento)%%></td>
		<td id="otros-edad-<%%VALUE(id)%%>" class="otros-edad"><%%VALUE(edad)%%></td>
		<td id="otros-direccion-<%%VALUE(id)%%>" class="otros-direccion"><%%VALUE(direccion)%%></td>
		<td id="otros-barrio-<%%VALUE(id)%%>" class="otros-barrio"><%%VALUE(barrio)%%></td>
		<td id="otros-telefono-<%%VALUE(id)%%>" class="otros-telefono"><%%VALUE(telefono)%%></td>
		<td id="otros-regimen-<%%VALUE(id)%%>" class="otros-regimen"><%%VALUE(regimen)%%></td>
		<td id="otros-eapb-<%%VALUE(id)%%>" class="otros-eapb"><%%VALUE(eapb)%%></td>
		<td id="otros-otraeps-<%%VALUE(id)%%>" class="otros-otraeps"><%%VALUE(otraeps)%%></td>
		<td id="otros-gerente-<%%VALUE(id)%%>" class="otros-gerente"><%%VALUE(gerente)%%></td>
		<td id="otros-poblacion-<%%VALUE(id)%%>" class="otros-poblacion"><%%VALUE(poblacion)%%></td>
		<td id="otros-asignado-<%%VALUE(id)%%>" class="otros-asignado"><%%VALUE(asignado)%%></td>
