<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the otros_init() hook (in hooks/otros.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="otros-fecha-<%%VALUE(id)%%>" class="otros-fecha"><%%SELECT%%><%%VALUE(fecha)%%><%%ENDSELECT%%></td>
		<td id="otros-asunto-<%%VALUE(id)%%>" class="otros-asunto"><%%SELECT%%><%%VALUE(asunto)%%><%%ENDSELECT%%></td>
		<td id="otros-sexo-<%%VALUE(id)%%>" class="otros-sexo"><%%SELECT%%><%%VALUE(sexo)%%><%%ENDSELECT%%></td>
		<td id="otros-tipodoc-<%%VALUE(id)%%>" class="otros-tipodoc"><%%SELECT%%><%%VALUE(tipodoc)%%><%%ENDSELECT%%></td>
		<td id="otros-documento-<%%VALUE(id)%%>" class="otros-documento"><%%SELECT%%><%%VALUE(documento)%%><%%ENDSELECT%%></td>
		<td id="otros-nombres-<%%VALUE(id)%%>" class="otros-nombres"><%%SELECT%%><%%VALUE(nombres)%%><%%ENDSELECT%%></td>
		<td id="otros-apellidos-<%%VALUE(id)%%>" class="otros-apellidos"><%%SELECT%%><%%VALUE(apellidos)%%><%%ENDSELECT%%></td>
		<td id="otros-nacimiento-<%%VALUE(id)%%>" class="otros-nacimiento"><%%SELECT%%><%%VALUE(nacimiento)%%><%%ENDSELECT%%></td>
		<td id="otros-edad-<%%VALUE(id)%%>" class="otros-edad"><%%SELECT%%><%%VALUE(edad)%%><%%ENDSELECT%%></td>
		<td id="otros-direccion-<%%VALUE(id)%%>" class="otros-direccion"><%%SELECT%%><%%VALUE(direccion)%%><%%ENDSELECT%%></td>
		<td id="otros-barrio-<%%VALUE(id)%%>" class="otros-barrio"><%%SELECT%%><%%VALUE(barrio)%%><%%ENDSELECT%%></td>
		<td id="otros-telefono-<%%VALUE(id)%%>" class="otros-telefono"><%%SELECT%%><%%VALUE(telefono)%%><%%ENDSELECT%%></td>
		<td id="otros-regimen-<%%VALUE(id)%%>" class="otros-regimen"><%%SELECT%%><%%VALUE(regimen)%%><%%ENDSELECT%%></td>
		<td id="otros-eapb-<%%VALUE(id)%%>" class="otros-eapb"><%%SELECT%%><%%VALUE(eapb)%%><%%ENDSELECT%%></td>
		<td id="otros-otraeps-<%%VALUE(id)%%>" class="otros-otraeps"><%%SELECT%%><%%VALUE(otraeps)%%><%%ENDSELECT%%></td>
		<td id="otros-gerente-<%%VALUE(id)%%>" class="otros-gerente"><%%SELECT%%><%%VALUE(gerente)%%><%%ENDSELECT%%></td>
		<td id="otros-poblacion-<%%VALUE(id)%%>" class="otros-poblacion"><%%SELECT%%><%%VALUE(poblacion)%%><%%ENDSELECT%%></td>
		<td id="otros-asignado-<%%VALUE(id)%%>" class="otros-asignado"><%%SELECT%%><%%VALUE(asignado)%%><%%ENDSELECT%%></td>
