<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the pqr_init() hook (in hooks/pqr.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="pqr-consecutivo-<%%VALUE(id)%%>" class="pqr-consecutivo text-right"><%%VALUE(consecutivo)%%></td>
		<td id="pqr-oficio-<%%VALUE(id)%%>" class="pqr-oficio"><%%VALUE(oficio)%%></td>
		<td id="pqr-fecha-<%%VALUE(id)%%>" class="pqr-fecha"><%%VALUE(fecha)%%></td>
		<td id="pqr-tipoid-<%%VALUE(id)%%>" class="pqr-tipoid"><%%VALUE(tipoid)%%></td>
		<td id="pqr-doc-<%%VALUE(id)%%>" class="pqr-doc"><%%VALUE(doc)%%></td>
		<td id="pqr-nombres-<%%VALUE(id)%%>" class="pqr-nombres"><%%VALUE(nombres)%%></td>
		<td id="pqr-apellidos-<%%VALUE(id)%%>" class="pqr-apellidos"><%%VALUE(apellidos)%%></td>
		<td id="pqr-genero-<%%VALUE(id)%%>" class="pqr-genero"><%%VALUE(genero)%%></td>
		<td id="pqr-edad-<%%VALUE(id)%%>" class="pqr-edad text-right"><%%VALUE(edad)%%></td>
		<td id="pqr-telefono-<%%VALUE(id)%%>" class="pqr-telefono"><%%VALUE(telefono)%%></td>
		<td id="pqr-correo-<%%VALUE(id)%%>" class="pqr-correo"><%%VALUE(correo)%%></td>
		<td id="pqr-tipopqr-<%%VALUE(id)%%>" class="pqr-tipopqr"><%%VALUE(tipopqr)%%></td>
		<td id="pqr-regimen-<%%VALUE(id)%%>" class="pqr-regimen"><%%VALUE(regimen)%%></td>
		<td id="pqr-eps-<%%VALUE(id)%%>" class="pqr-eps"><%%VALUE(eps)%%></td>
		<td id="pqr-motivo-<%%VALUE(id)%%>" class="pqr-motivo"><%%VALUE(motivo)%%></td>
		<td id="pqr-enfermedad-<%%VALUE(id)%%>" class="pqr-enfermedad"><%%VALUE(enfermedad)%%></td>
		<td id="pqr-estado-<%%VALUE(id)%%>" class="pqr-estado"><%%VALUE(estado)%%></td>
		<td id="pqr-condicion-<%%VALUE(id)%%>" class="pqr-condicion"><%%VALUE(condicion)%%></td>
		<td id="pqr-cierre-<%%VALUE(id)%%>" class="pqr-cierre"><%%VALUE(cierre)%%></td>
		<td id="pqr-dias-<%%VALUE(id)%%>" class="pqr-dias"><%%VALUE(dias)%%></td>
		<td id="pqr-indicador-<%%VALUE(id)%%>" class="pqr-indicador"><%%VALUE(indicador)%%></td>
		<td id="pqr-fallecido-<%%VALUE(id)%%>" class="pqr-fallecido"><%%VALUE(fallecido)%%></td>
		<td id="pqr-periodo-<%%VALUE(id)%%>" class="pqr-periodo"><%%VALUE(periodo)%%></td>
		<td id="pqr-asignado-<%%VALUE(id)%%>" class="pqr-asignado"><%%VALUE(asignado)%%></td>
