<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the pqr_init() hook (in hooks/pqr.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="pqr-consecutivo-<%%VALUE(id)%%>" class="pqr-consecutivo text-right"><%%SELECT%%><%%VALUE(consecutivo)%%><%%ENDSELECT%%></td>
		<td id="pqr-oficio-<%%VALUE(id)%%>" class="pqr-oficio"><%%SELECT%%><%%VALUE(oficio)%%><%%ENDSELECT%%></td>
		<td id="pqr-fecha-<%%VALUE(id)%%>" class="pqr-fecha"><%%SELECT%%><%%VALUE(fecha)%%><%%ENDSELECT%%></td>
		<td id="pqr-tipoid-<%%VALUE(id)%%>" class="pqr-tipoid"><%%SELECT%%><%%VALUE(tipoid)%%><%%ENDSELECT%%></td>
		<td id="pqr-doc-<%%VALUE(id)%%>" class="pqr-doc"><%%SELECT%%><%%VALUE(doc)%%><%%ENDSELECT%%></td>
		<td id="pqr-nombres-<%%VALUE(id)%%>" class="pqr-nombres"><%%SELECT%%><%%VALUE(nombres)%%><%%ENDSELECT%%></td>
		<td id="pqr-apellidos-<%%VALUE(id)%%>" class="pqr-apellidos"><%%SELECT%%><%%VALUE(apellidos)%%><%%ENDSELECT%%></td>
		<td id="pqr-genero-<%%VALUE(id)%%>" class="pqr-genero"><%%SELECT%%><%%VALUE(genero)%%><%%ENDSELECT%%></td>
		<td id="pqr-edad-<%%VALUE(id)%%>" class="pqr-edad text-right"><%%SELECT%%><%%VALUE(edad)%%><%%ENDSELECT%%></td>
		<td id="pqr-telefono-<%%VALUE(id)%%>" class="pqr-telefono"><%%SELECT%%><%%VALUE(telefono)%%><%%ENDSELECT%%></td>
		<td id="pqr-correo-<%%VALUE(id)%%>" class="pqr-correo"><%%SELECT%%><%%VALUE(correo)%%><%%ENDSELECT%%></td>
		<td id="pqr-tipopqr-<%%VALUE(id)%%>" class="pqr-tipopqr"><%%SELECT%%><%%VALUE(tipopqr)%%><%%ENDSELECT%%></td>
		<td id="pqr-regimen-<%%VALUE(id)%%>" class="pqr-regimen"><%%SELECT%%><%%VALUE(regimen)%%><%%ENDSELECT%%></td>
		<td id="pqr-eps-<%%VALUE(id)%%>" class="pqr-eps"><%%SELECT%%><%%VALUE(eps)%%><%%ENDSELECT%%></td>
		<td id="pqr-motivo-<%%VALUE(id)%%>" class="pqr-motivo"><%%SELECT%%><%%VALUE(motivo)%%><%%ENDSELECT%%></td>
		<td id="pqr-enfermedad-<%%VALUE(id)%%>" class="pqr-enfermedad"><%%SELECT%%><%%VALUE(enfermedad)%%><%%ENDSELECT%%></td>
		<td id="pqr-estado-<%%VALUE(id)%%>" class="pqr-estado"><%%SELECT%%><%%VALUE(estado)%%><%%ENDSELECT%%></td>
		<td id="pqr-condicion-<%%VALUE(id)%%>" class="pqr-condicion"><%%SELECT%%><%%VALUE(condicion)%%><%%ENDSELECT%%></td>
		<td id="pqr-cierre-<%%VALUE(id)%%>" class="pqr-cierre"><%%SELECT%%><%%VALUE(cierre)%%><%%ENDSELECT%%></td>
		<td id="pqr-dias-<%%VALUE(id)%%>" class="pqr-dias"><%%SELECT%%><%%VALUE(dias)%%><%%ENDSELECT%%></td>
		<td id="pqr-indicador-<%%VALUE(id)%%>" class="pqr-indicador"><%%SELECT%%><%%VALUE(indicador)%%><%%ENDSELECT%%></td>
		<td id="pqr-fallecido-<%%VALUE(id)%%>" class="pqr-fallecido"><%%SELECT%%><%%VALUE(fallecido)%%><%%ENDSELECT%%></td>
		<td id="pqr-periodo-<%%VALUE(id)%%>" class="pqr-periodo"><%%SELECT%%><%%VALUE(periodo)%%><%%ENDSELECT%%></td>
		<td id="pqr-asignado-<%%VALUE(id)%%>" class="pqr-asignado"><%%SELECT%%><%%VALUE(asignado)%%><%%ENDSELECT%%></td>
