<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the prass_init() hook (in hooks/prass.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="prass-fecha-<%%VALUE(id)%%>" class="prass-fecha"><%%VALUE(fecha)%%></td>
		<td id="prass-documento-<%%VALUE(id)%%>" class="prass-documento"><%%VALUE(documento)%%></td>
		<td id="prass-nombrepaciente-<%%VALUE(id)%%>" class="prass-nombrepaciente"><%%VALUE(nombrepaciente)%%></td>
		<td id="prass-regimen-<%%VALUE(id)%%>" class="prass-regimen"><%%VALUE(regimen)%%></td>
		<td id="prass-eps-<%%VALUE(id)%%>" class="prass-eps"><%%VALUE(eps)%%></td>
		<td id="prass-direccion-<%%VALUE(id)%%>" class="prass-direccion"><%%VALUE(direccion)%%></td>
		<td id="prass-telefono-<%%VALUE(id)%%>" class="prass-telefono"><%%VALUE(telefono)%%></td>
		<td id="prass-consulta-<%%VALUE(id)%%>" class="prass-consulta"><%%VALUE(consulta)%%></td>
		<td id="prass-fechaconsulta-<%%VALUE(id)%%>" class="prass-fechaconsulta"><%%VALUE(fechaconsulta)%%></td>
		<td id="prass-prueba-<%%VALUE(id)%%>" class="prass-prueba"><%%VALUE(prueba)%%></td>
		<td id="prass-fechaprueba-<%%VALUE(id)%%>" class="prass-fechaprueba"><%%VALUE(fechaprueba)%%></td>
		<td id="prass-estado-<%%VALUE(id)%%>" class="prass-estado"><%%VALUE(estado)%%></td>
		<td id="prass-observacion-<%%VALUE(id)%%>" class="prass-observacion"><%%VALUE(observacion)%%></td>
		<td id="prass-encargado-<%%VALUE(id)%%>" class="prass-encargado"><%%VALUE(encargado)%%></td>
